@tailwind base;
@tailwind components;
@tailwind utilities;

.app {
  @apply w-screen h-screen flex justify-center  p-5 relative bg-slate-200;
}

/*Containers*/

.pageContainer {
  @apply w-full  rounded-md shadow-xl overflow-hidden z-10 relative max-w-screen-sm h-fit;
}

/*Buttons*/

.btn {
  @apply text-base font-medium cursor-pointer py-1.5 px-3 flex justify-start items-center;
}

.incomeBtn {
  @apply rounded-md  cursor-pointer z-10  font-medium relative shadow-md ease-in-out py-1   overflow-hidden transition-all duration-300 sm:w-[49%] before:content-[''] before:transition-all before:duration-300 before:absolute before:w-full before:h-[110%] before:bg-gradient-to-br from-[#3eeaca] to-[#33dcc0] before:top-0 before:left-[-100%] before:ease-in-out before:z-[-1] hover:before:left-[0%];
}

.listBtn {
  @apply h-full w-full flex justify-center items-center px-2 hover:bg-slate-600 hover:text-slate-50 rounded-md;
}

.calculateBtn {
  @apply rounded-md  cursor-pointer font-medium  w-full shadow-md py-1 border-[1px] hover:border-[#3eeaca] hover:text-[#3eeaca];
}

.calculateBtnClicked {
  @apply bg-gradient-to-br from-[#3eeaca] to-[#33dcc0];
}

.visibleList {
  @apply bg-slate-100  h-[130px]  absolute top-[35px] right-0 flex flex-col justify-around rounded z-30;
}

* {
  box-sizing: border-box;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}
